{% extends 'shop/base.html' %}

{% block title %} Registration {% endblock %}

{% load crispy_forms_tags %}

{% block content %} 

<div class="d-flex align-items-center justify-content-center mt-3">
     <form action="" method="post" class="w-25">
        {% csrf_token %}
        {{ form|crispy }}

        <p>Already have an account? <a href="{% url 'users:login' %}">Login here</a></p>
        
        <button type="submit" class="btn btn-primary w-100">Register</button>
        <a href="{% url 'users:login' %}" class="btn btn-outline-dark">Cancel</a>

</div>

{% endblock %}